body {
  font-family: 'DM Sans', sans-serif;
  color: getColor('secondary');
  background-color: getColor('primary');
  font-family: 'DM Sans', sans-serif;
  margin: 0px auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
