:root {
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  margin: 0px auto;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

address {
  font-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
button {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
}

.header {
  background-color: #ffb8ca;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 37px 34px 6px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 37px 115px 6px 46px;
  }
}

.header__btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__btn {
    font-weight: 700;
    font-size: 16px;
    color: #d41443;
    border: none;
    background-color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inherit;
    width: 160px;
    height: 44px;
    margin-left: 30px;
    border-radius: 22px;
  }
  .header__btn:hover, .header__btn:focus {
    background-color: #ecebeb;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 199px;
  height: 50px;
}

.header__open {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffb8ca;
}

@media screen and (min-width: 1200px) {
  .header__open {
    display: none;
  }
}

.header__open-icon {
  width: 40px;
  height: 40px;
  color: #d41443;
  fill: #d41443;
}

.header-nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-nav {
    display: inherit;
  }
}

.header-nav__link {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.header-nav__link:hover, .header-nav__link:focus {
  color: #d41443;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.header-mobile {
  display: none;
}

.header-mobile.is-open {
  display: initial;
  position: absolute;
  padding: 20px;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e17992;
}

.header-mobile__btn {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: #d41443;
  border: none;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inherit;
  width: 100%;
  height: 44px;
  margin-top: 60px;
  margin-bottom: 32px;
  border-radius: 22px;
}

.header-mobile__btn:after {
  content: "";
  position: absolute;
  width: 250px;
  bottom: -19px;
  left: -20px;
  background-color: #e18398;
  border: 1px solid #e18398;
}

.header-mobile__btn:hover, .header-mobile__btn:focus {
  background-color: #ecebeb;
}

.header-mobile__close {
  position: absolute;
  top: 23px;
  right: 28px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #e17992;
}

@media screen and (min-width: 1200px) {
  .header-mobile__close {
    display: none;
  }
}

.header-mobile__close-icon {
  width: 40px;
  height: 40px;
  color: #d41443;
  fill: #d41443;
}

.header-mobile__link {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  position: relative;
}

.header-mobile__link:after {
  content: "";
  position: absolute;
  width: 250px;
  bottom: -11px;
  left: -20px;
  background-color: #e18398;
  border: 1px solid #e18398;
}

.header-mobile__link:hover, .header-mobile__link:focus {
  color: #d41443;
}

.header-mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 22px;
}

.hero {
  background-color: #ffb8ca;
}

.about {
  background-color: #ffb8ca;
}

.about__label {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

.about__secondary-header {
  font-family: var(--secondary-font);
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
/*# sourceMappingURL=main.css.map */