
<section class="about" id="about">
  <div class="about__container"> 
  <p class="about__label">Tradition and love</p>
  <h2 class="about__secondary-header">How it's made?</h2>

 <ul class="about__list">
<li class="about__picture">
  <picture>
  <source
    srcset="
      /src/images/about/cow-desktop.png 1x,
      /src/images/about/cow-desktop2x.png 2x
    "
    media="(min-width: 1200px)"
  />

  <source
    srcset="/src/images/about/cow-tablet.png 1x,
      /src/images/about/cow-tablet2x.png 2x
    "
    media="(min-width: 768px)"
  />

  <img
    src="/src/images/about/cow-mobile.png"
    srcset="/src/images/about/cow-mobile2x.png 2x"
    alt="Cow and a jug of milk"
  />
  </picture>
  </li>
  <li class="about__how-is-made">

  <p class="about__description">
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
    eget, egestas eros. Maecenas eleifend erat at justo fringilla.
  </p>

  <p class="about__undertitle">
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
    Cras massa nibh, tincidunt.<br/>
  <br/>
    Aliquam erat volutpat. Aenean accumsan.
  </p>
  <button class="about__modal-btn" type="button">Read more
    <img class="about__arrow-icon"
    src="/src/images/about/arrow-icon.svg"
    alt="arrow icon">
  </button>
  </li>
</ul> 
  </div>
</section>


