<section class="advantages" id="advantages">
  <div class="advantages__container">
    <h2 hidden>Advantages</h2>
    <ul class="advantages__grid">
        
      <li class="advantages__card">
        <ul class="advantages__card-list">
          <li class="advantages__number1">721</li>
          <li class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </li>
        </ul>
      </li>

      <li class="advantages__card">
        <ul class="advantages__card-list">
          <li class="advantages__number2">16KG</li>
          <li class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </li>
        </ul>
      </li>

      <li class="advantages__card">
        <ul class="advantages__card-list">
          <li class="advantages__number3">84</li>
          <li class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </li>
        </ul>

      </li>
    </ul>
  </div>
</section>
