<section class="contacts" id="contacts">
  <h2 hidden>Contacts</h2>
  <div class="contacts__grid">
    <div class="contacts__card">
      <p class="contacts__category">Cafe</p>
      <p class="contacts__town">Chicago</p>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="contacts__days">Monday - Friday</p>
      <p class="contacts__hours">06:00 AM - 10:00 PM</p>
      <p class="contacts__days">Saturday - Sunday</p>
      <p class="contacts__hours contacts__hours--underline">08:00 AM - 16:00 PM</p>
      <a class="contacts__link contacts__link--phone" href="tel:+61(0)383766284">
        <span>+61(0) 383 766 284</span>
      </a>
      <a class="contacts__link contacts__link--mail" href="mailto:noreply@envato.com">
        <span>noreply@envato.com</span></a
      >
    </div>

    <div class="contacts__card">
      <p class="contacts__category contacts__category--food-truck">Food Truck</p>
      <p class="contacts__town">Los Angeles</p>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="contacts__days">Monday - Friday</p>
      <p class="contacts__hours">06:00 AM - 10:00 PM</p>
      <p class="contacts__days">Saturday - Sunday</p>
      <p class="contacts__hours contacts__hours--underline">08:00 AM - 16:00 PM</p>
      <a class="contacts__link contacts__link--phone" href="tel:+61(0)383766284">
        <span>+61(0) 383 766 284</span>
      </a>
      <a class="contacts__link contacts__link--mail" href="mailto:noreply@envato.com">
        <span>noreply@envato.com</span></a
      >
    </div>

    <div class="contacts__card">
      <p class="contacts__category">Cafe</p>
      <p class="contacts__town">New York</p>
      <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <p class="contacts__days">Monday - Friday</p>
      <p class="contacts__hours">06:00 AM - 10:00 PM</p>
      <p class="contacts__days">Saturday - Sunday</p>
      <p class="contacts__hours contacts__hours--underline">08:00 AM - 16:00 PM</p>
      <a class="contacts__link contacts__link--phone" href="tel:+61(0)383766284">
        <span>+61(0) 383 766 284</span>
      </a>
      <a class="contacts__link contacts__link--mail" href="mailto:noreply@envato.com">
        <span>noreply@envato.com</span></a
      >
    </div>
  </div>

  <div class="contacts__buttons">
    <a
      class="contacts__button contacts__button--locations"
      href="https://goo.gl/maps/DRpYactL8x3XR8zz9"
      target="_blank"
      >Our Locations
      <svg class="contacts__button-icon" width="4.5" height="8">
        <use href="./images/contacts/vector-icon.svg#vector-icon"></use></svg
    ></a>

    <button type="button" class="contacts__button contacts__button--franchise">
      Franchise
      <svg class="contacts__button-icon" width="4.5" height="8">
        <use href="./images/contacts/vector-icon-red.svg#vector-icon-red"></use>
      </svg>
    </button>
  </div>
</section>
