<section class="customer" id="customer">
  <div class="customer__card-wrapper">
    <div class="customer__card-img">
      <img
        class="customer__img"
        src="./images/customer/customer-photo.png"
        srcset="./images/customer/customer-photo@2x.png 2x"
        alt="customer photo"
        width="85"
        height="85"
      />
    </div>
    <div class="customer__item">
      <div class="customer__item-wrapper">
        <p class="customer__item-description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <div class="customer__item-description--dots"></div>
    <h3 class="customer__item-header">Emily, Los Angeles</h3>
    <ul class="customer-list">
      <li class="customer-list__item">
        <svg class="customer-list__home-icon" width="12" height="12">
          <use href="./images/customer/home-icon.svg#home-icon"></use>
        </svg>
      </li>
      <li class="customer-list__item">
        <svg class="customer-list__dot-icon" width="12" height="12">
          <use href="./images/customer/ellipse-icon.svg#ellipse-icon"></use>
        </svg>
      </li>
      <li class="customer-list__item">
        <svg class="customer-list__dot-icon" width="12" height="12">
          <use href="./images/customer/ellipse-icon.svg#ellipse-icon"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
