<footer class="footer"  id="footer"> 
  <div class="footer__container">
  <h3 class="footer__title">
    homemade ice cream made <span class="footer__title-span"> with passion </span>
  </h3>
  <div class="footer-social">
    <ul class="footer-social__list list">
      <li class="footer-social__item">
        <a class="footer-social__link" href="insta"
          ><img
            class="footer-social__icon"
            src="./images/footer-icons/git.svg"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li class="footer-social__item">
        <a class="footer-social__link" href="insta"
          ><img
            class="footer-social__icon"
            src="./images/footer-icons/telegram.svg"
            width="20"
            height="20"
          />
        </a>
      </li>
      <li class="footer-social__item">
        <a class="footer-social__link" href="insta"
          ><img
            class="footer-social__icon"
            src="./images/footer-icons/fb.svg"
            width="20"
            height="20"
          />
        </a>
      </li>
    </ul>
    <a class="footer-social__title" href="phone:+48111111111"
      >Feel free to contact <span class="footer-social__title-span">+61 (0) 383 766 284</span></a
    >
  </div>
  </div>
  <div class="copyright">
    <h3 class="copyright__item">© 2019 - IceCream. All Rights Reserved.</h3>
  </div>
</footer>
