<section class="gallery">
  <div class="container">
    <picture class="gallery__image">
      <source
        srcset="
        /src/images/gallery/desktop.jpg 1x, 
        /src/images/gallery/desktop@2x.jpg 2x"
        media="(min-width:1200px)"
      />
      <source
        srcset="
        /src/images/gallery/tablet.jpg 1x, 
        /src/images/gallery/tablet@2x.jpg 2x"
        media="(min-width:768px)"
      />
      <img
        src="
        /src/images/gallery/mobile.jpg"
        srcset="
        /src/images/gallery/mobile@2x.jpg 2x"
        alt="gallery"
      />
    </picture>
  </div>
</section>
