<header class="header">
  <a class="header__logo" href="index.html"
    ><img class="header__logo-img" src="/src/images/header-hero/logo.png" alt=""
  /></a>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item"><a class="header-nav__link" href="#">Home</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#">About us</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#">How it’s made?</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#">Our products</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="header__buttons">
    <button class="header__open" aria-expanded="false" aria-controls="menu" type="button" data-menu-button>
      <svg class="header__open-icon" width="40" heigth="40">
        <use href="./images/header-icons/burger.svg"></use>
      </svg>
    </button>
    <button class="header__btn" type="button">Buy now ></button>
  </div>
  <nav class="header-mobile" data-menu>
    <button class="header-mobile__close" aria-expanded="true" aria-controls="header-mobile" type="button" data-menu-close>
      <svg class="header-mobile__close-icon" width="40" heigth="40">
        <use href="./images/header-icons/close.svg"></use>
      </svg>
    </button>
    <button class="header-mobile__btn" type="button">Buy now ></button>
    <ul class="header-mobile__list">
      <li class="header-mobile__item"><a class="header-mobile__link" href="#">Home</a></li>
      <li class="header-mobile__item"><a class="header-mobile__link" href="#">About us</a></li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="#">How it’s made?</a>
      </li>
      <li class="header-mobile__item"><a class="header-mobile__link" href="#">Our products</a></li>
      <li class="header-mobile__item"><a class="header-mobile__link" href="#">Contact</a></li>
    </ul>
  </nav>
</header>
<section class="hero">
  <h1 class="hero__title">ICE CREAM MADE WITH PASSION</h1>
  <button class="hero__btn" onclick="location.href='#'" type="button">Products</button>
  <button class="hero__btn" onclick="location.href='#'" type="button">How it’s made?</button>
  <picture class="hero__img-ice">
    <source
      media="(min-width: 1280px)"
      srcset="
        /src/images/header-hero/hero-ice-desktop.png    1x,
        /src/images/header-hero/hero-ice-desktop@2x.png 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        /src/images/header-hero/hero-ice-tablet.png    1x,
        /src/images/header-hero/hero-ice-tablet@2x.png 2x
      "
    />
    <img
      src="/src/images/header-hero/hero-ice-mobile.png"
      alt="IceCream"
      srcset="/src/images/header-hero/hero-ice-mobile@2x.png 2x"
    />
  </picture>
  <picture class="hero__img-milk">
    <source
      media="(min-width: 1280px)"
      srcset="
        /src/images/header-hero/hero-milk-desktop.png    1x,
        /src/images/header-hero/hero-milk-desktop@2x.png 2x
      "
    />
    <img
      src="/src/images/header-hero/hero-milk-tablet.png"
      alt="IceCream"
      srcset="/src/images/header-hero/hero-milk-tablet@2x.png 2x"
    />
  </picture>
  <picture class="hero__img-girl">
    <source
      media="(min-width: 1280px)"
      srcset="
        /src/images/header-hero/hero-girl-desktop.png    1x,
        /src/images/header-hero/hero-girl-desktop@2x.png 2x
      "
    />
    <img
      src="/src/images/header-hero/hero-girl-tablet.png"
      alt="IceCream"
      srcset="/src/images/header-hero/hero-girl-tablet@2x.png 2x"
    />
  </picture>
</section>
