<header class="header">
    <a href="../index.html"><img src="/src/images/header-hero/logo.png" alt=""></a>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="#">Home</a></li>
            <li class="header__nav-item"><a href="#">About us</a></li>
            <li class="header__nav-item"><a href="#">How it’s made?</a></li>
            <li class="header__nav-item"><a href="#">Our products</a></li>
            <li class="header__nav-item"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <button class="header__btn">Buy now</button>
</header>
<section class="hero">
    <h1 class="hero__title">ICE CREAM MADE WITH PASSION</h1>
    <button class="hero__btn" onclick="location.href='#'" type="button">
        Products</button>
    <button class="hero__btn" onclick="location.href='#'" type="button">
        How it’s made?</button>
    <picture class="hero__img-ice">
        <source media="(min-width: 1280px)"
            srcset="/src/images/header-hero/hero-ice-desktop.png 1x, /src/images/header-hero/hero-ice-desktop@2x.png 2x">
        <source media="(min-width: 768px)" srcset="/src/images/header-hero/hero-ice-tablet.png 1x ,
            /src/images/header-hero/hero-ice-tablet@2x.png 2x">
        <img src="/src/images/header-hero/hero-ice-mobile.png" alt="IceCream"
            srcset="/src/images/header-hero/hero-ice-mobile@2x.png 2x">
    </picture>
    <picture class="hero__img-milk">
        <source media="(min-width: 1280px)"
            srcset="/src/images/header-hero/hero-milk-desktop.png 1x, /src/images/header-hero/hero-milk-desktop@2x.png 2x">
        <img src="/src/images/header-hero/hero-milk-tablet.png" alt="IceCream"
            srcset="/src/images/header-hero/hero-milk-tablet@2x.png 2x">
    </picture>
    <picture class="hero__img-girl">
        <source media="(min-width: 1280px)"
            srcset="/src/images/header-hero/hero-girl-desktop.png 1x, /src/images/header-hero/hero-girl-desktop@2x.png 2x">
        <img src="/src/images/header-hero/hero-girl-tablet.png" alt="IceCream"
            srcset="/src/images/header-hero/hero-girl-tablet@2x.png 2x">
    </picture>
</section>