<header class="header" id="header" mybutton>

  <script>


    mybutton = document.getElementById("topBtn");
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }


    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }


  </script>

  <button onclick="topFunction()" id="topBtn">Top</button>
  <a class="header__logo" href="index.html"><img class="header__logo-img" src="/src/images/header-hero/logo.png"
      alt="" /></a>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item"><a class="header-nav__link" href="#header">Home</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#customer">About us</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#about">How it’s made?</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#prod">Our products</a></li>
      <li class="header-nav__item"><a class="header-nav__link" href="#contacts">Contact</a></li>
    </ul>
  </nav>
  <div class="header__buttons">
    <button class="header__open" aria-expanded="false" aria-controls="menu" type="button" data-menu-button>
      <img class="header__open-icon" src="./images/header-icons/burger.svg" width="20" heigth="12" />
    </button>
    <button class="header__btn" type="button" data-modal-open>
      Buy now <img class="header__btn-icon" src="./images/header-icons/btn-vector.svg" />
    </button>
  </div>
  <nav class="header-mobile" data-menu>
    <button class="header-mobile__close" aria-expanded="true" aria-controls="header-mobile" type="button"
      data-menu-close>
      <img class="header-mobile__close-icon" src="./images/header-icons/close.svg" width="14" heigth="14" />
    </button>
    <button class="header-mobile__btn" type="button" data-modal-open>
      Buy now <img class="header__btn-icon" src="./images/header-icons/btn-vector.svg" />
    </button>
    <ul class="header-mobile__list">
      <li class="header-mobile__item"><a class="header-mobile__link" href="#header">Home</a></li>
      <li class="header-mobile__item"><a class="header-mobile__link" href="#customer">About us</a></li>
      <li class="header-mobile__item">
        <a class="header-mobile__link" href="#about">How it’s made?</a>
      </li>
      <li class="header-mobile__item"><a class="header-mobile__link" href="#prod">Our products</a></li>
      <li class="header-mobile__item"><a class="header-mobile__link" href="#contacts">Contact</a></li>
    </ul>
  </nav>
</header>
<section class="hero">
  <div class="hero__main">
    <h1 class="hero__title">ICE CREAM <br> made WITH <br> <span class="hero__title-span">PASSION</span></h1>
    <div class="hero__buttons">
      <button class="hero__btn product-btn" onclick="location.href='#prod'" type="button">Products</button>
      <button class="hero__btn made-btn" onclick="location.href='#about'" type="button">How it’s made?</button>
    </div>
  </div>
  <picture class="hero__img-ice angry-animate">
    <source media="(min-width: 1280px)" srcset="
        /src/images/header-hero/hero-ice-desktop.png    1x,
        /src/images/header-hero/hero-ice-desktop@2x.png 2x
      " />
    <source media="(min-width: 768px)" srcset="
        /src/images/header-hero/hero-ice-tablet.png    1x,
        /src/images/header-hero/hero-ice-tablet@2x.png 2x
      " />
    <img src="/src/images/header-hero/hero-ice-mobile.png" alt="IceCream"
      srcset="/src/images/header-hero/hero-ice-mobile@2x.png 2x" />
  </picture>
  <div class="hero__decorator elastic-animate"></div>
  <picture class="hero__img-milk">
    <source media="(min-width: 1280px)" srcset="
        /src/images/header-hero/hero-milk-desktop.png    1x,
        /src/images/header-hero/hero-milk-desktop@2x.png 2x
      " />
    <img src="/src/images/header-hero/hero-milk-tablet.png" alt="IceCream"
      srcset="/src/images/header-hero/hero-milk-tablet@2x.png 2x" />
  </picture>
  <p class="hero__article">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et</p>
  <button class="hero__event" type="button">
    <img class="heade__event-icon" src="./images/header-icons/arrow-right.svg" sizes=" 100vw, 100vw" />
  </button>
  <picture class="hero__img-girl">
    <source media="(min-width: 1280px)" srcset="
        /src/images/header-hero/hero-girl-desktop.png    1x,
        /src/images/header-hero/hero-girl-desktop@2x.png 2x
      " />
    <img src="/src/images/header-hero/hero-girl-tablet.png" alt="IceCream"
      srcset="/src/images/header-hero/hero-girl-tablet@2x.png 2x" />
  </picture>
  <ul class="hero__locals-list">
    <li class="hero__locals-item">
      <h3 class="hero__locals-header">16</h3>
      <p class="hero__locals-subscribe">cafes</p>
    </li>
    <li class="hero__locals-item">
      <h3 class="hero__locals-header">23</h3>
      <p class="hero__locals-subscribe">food trucks</p>
    </li>
  </ul>

</section>