<section class="products" id="products">
    <h3 class="products__sidetitle">100% NATURAL</h3>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list">
        <li class="products__card products__card--one">
            <h3 class="products__card-title product--1">ICE CREAM</h3>
            <div class="products__card--dots"></div>
            <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <button class="products__card-btn"></button>
        </li>
        <li class="products__card products__card--two">
            <h3 class="products__card-title product--2">ICE COFFEE</h3>
            <div class="products__card--dots"></div>
            <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <button class="products__card-btn"></button>
        </li>
        <li class="products__card products__card--three">
            <h3 class="products__card-title product--3">MILKSHAKES</h3>
            <div class="products__card--dots"></div>
            <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <button class="products__card-btn"></button>
        </li>
    </ul>
</section>