<section class="products" id="prod">
  <h3 class="products__sidetitle">100% NATURAL</h3>
  <h2 class="products__title">PRODUCTS</h2>
  <ul class="products__list">
    <li class="products__card products__card--one">
      <div id="overlay1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quos repellendus cumque error
        suscipit quas rem natus sit. Harum delectus facere deserunt sint ut. Praesentium debitis consequuntur, tenetur
        earum sint laboriosam ullam repudiandae quidem! Repellat quisquam blanditiis reprehenderit inventore quidem
        natus a, voluptas est dolorem voluptates minima iste impedit sunt pariatur provident, similique, fugit hic
        soluta porro dicta obcaecati eaque.</div>
      <h3 class="products__card-title product--1">ICE CREAM</h3>
      <div class="products__card--dots"></div>
      <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna
        aliqua facilisis.
      </p>
      <button id="on1" onclick="on1()" class="products__card-btn--open"></button>
      <button id="off1" onclick="off1()" class="products__card-btn--close"></button>
    </li>
    <li class="products__card products__card--two">
      <div id="overlay2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem excepturi saepe
        delectus hic maiores quaerat nam sequi iure quae corporis! Non possimus tempora mollitia qui praesentium
        consequatur aperiam architecto commodi numquam in eos inventore est vel quis sapiente, molestias vero sit
        laudantium sunt nihil magnam. Officiis quas earum quo iusto. Suscipit distinctio rerum esse facere a nostrum
        deleniti aliquid ratione!</div>
      <h3 class="products__card-title product--2">ICE COFFEE</h3>
      <div class="products__card--dots"></div>
      <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna
        aliqua facilisis.
      </p>
      <button id="on2" onclick="on2()" class="products__card-btn--open"></button>
      <button id="off2" onclick="off2()" class="products__card-btn--close"></button>
    </li>
    <li class="products__card products__card--three">
      <div id="overlay3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur soluta provident quo
        aperiam earum! Error officiis, beatae magni recusandae amet et ut fuga mollitia explicabo. Aliquam libero
        repellendus, modi quia perferendis, a molestias rerum itaque accusantium atque delectus iure! Exercitationem
        quos architecto excepturi deleniti, rerum quasi sunt nam eos iusto temporibus maiores voluptatum, laboriosam
        asperiores iste in dolores? Autem eveniet itaque fuga culpa vero error nemo magni quod eum voluptate! Nulla,
        iure.
      </div>
      <h3 class="products__card-title product--3">MILKSHAKES</h3>
      <div class="products__card--dots"></div>
      <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna
        aliqua facilisis.
      </p>
      <button id="on3" onclick="on3()" class="products__card-btn--open"></button>
      <button id="off3" onclick="off3()" class="products__card-btn--close"></button>
    </li>
  </ul>
  <script>function on1() {
      document.getElementById('overlay1').style.display = 'block';
      document.getElementById('on1').style.display = 'none';
      document.getElementById('off1').style.display = 'block';
    }

    function off1() {
      document.getElementById('overlay1').style.display = 'none';
      document.getElementById('on1').style.display = 'block';
      document.getElementById('off1').style.display = 'none';
    }
    function on2() {
      document.getElementById('overlay2').style.display = 'block';
      document.getElementById('on2').style.display = 'none';
      document.getElementById('off2').style.display = 'block';
    }

    function off2() {
      document.getElementById('overlay2').style.display = 'none';
      document.getElementById('on2').style.display = 'block';
      document.getElementById('off2').style.display = 'none';
    }
    function on3() {
      document.getElementById('overlay3').style.display = 'block';
      document.getElementById('on3').style.display = 'none';
      document.getElementById('off3').style.display = 'block';
    }

    function off3() {
      document.getElementById('overlay3').style.display = 'none';
      document.getElementById('on3').style.display = 'block';
      document.getElementById('off3').style.display = 'none';
    }
  </script>
</section>