<section class="products">
    <h3 class="products__sidetitle">100% NATURAL</h3>
    <h2 class="products__title">PRODUCTS</h2>
    <ul class="products__list">
        <li class="products__card products__card--one">
            <div id="overlay1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</div>
            <h3 class="products__card-title product--1">ICE CREAM</h3>
            <div class="products__card--dots"></div>
            <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <button id="on1" onclick="on1()" class="products__card-btn--open"></button>
            <button id="off1" onclick="off1()" class="products__card-btn--close"></button>
        </li>
        <li class="products__card products__card--two">
            <div id="overlay2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</div>
            <h3 class="products__card-title product--2">ICE COFFEE</h3>
            <div class="products__card--dots"></div>
            <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <button id="on2" onclick="on2()" class="products__card-btn--open"></button>
            <button id="off2" onclick="off2()" class="products__card-btn--close"></button>
        </li>
        <li class="products__card products__card--three">
            <div id="overlay3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</div>
            <h3 class="products__card-title product--3">MILKSHAKES</h3>
            <div class="products__card--dots"></div>
            <p class="products__card--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et. dolore magna
                aliqua facilisis.
            </p>
            <button id="on3" onclick="on3()" class="products__card-btn--open"></button>
            <button id="off3" onclick="off3()" class="products__card-btn--close"></button>
        </li>
    </ul>
</section>