.contacts {
  max-width: 100%;
  height: 1599px;
  background-image: linear-gradient(to top, getColor(bg-primary) 1429px, getColor(primary) 170px);
}

.contacts__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 220px;
}

.contacts__card {
  width: 220px;
  height: 427px;
  margin-bottom: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
  padding-right: 21px;
  background-color: getColor(primary);
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:first-child {
    margin-top: 86px;
  }

  &:last-child {
    margin-bottom: 54px;
  }
}

.contacts__category {
  width: 80px;
  height: 16px;
  margin-bottom: 25px;
  background: getColor(accent-color-first);
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  color: getColor(primary);
  text-transform: uppercase;

  &--food-truck {
    width: 130px;
    background: getColor(accent-color-second);
  }
}

.contacts__town {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: getColor(secondary);
}

.contacts__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: getColor(neutral);
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 179px;
    height: 1px;
    background-color: #e1e1e1;
    border-style: none;
    margin-top: 25px;
  }
}

.contacts__days {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  color: getColor(secondary);
}

.contacts__hours {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  color: getColor(decorative-secondary);
}

.contacts__hours--underline {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 179px;
    height: 1px;
    background-color: #e1e1e1;
    border-style: none;
    margin-top: 25px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: getColor(neutral);
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &--phone {
    margin-top: 50px;
  }
}

.contacts__button {
  width: 161px;
  height: 44px;
  background-color: getColor(decorative);
  border-radius: 22px;
  border-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: getColor(primary);
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;

  &--locations {
    margin-bottom: 10px;
  }

  &--franchise {
    background-color: getColor(primary);
    color: getColor(decorative);
  }

  &-icon {
    margin-left: 8px;
  }

  &:hover,
  &:focus {
    background-color: getColor(decorative-secondary);
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    height: 852px;
    background-image: linear-gradient(to top, getColor(bg-primary) 659px, getColor(primary) 193px);
  }

  .contacts__grid {
    grid-template-columns: 220px 220px 220px;
    grid-gap: 20px;
  }

  .contacts__card {
    margin-top: 119px;
    height: 544px;
    margin-bottom: 81px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 44px;

    &:first-child {
      margin-top: 119px;
    }
  }

  .contacts__category {
    width: 73px;
    height: 28px;
    margin-bottom: 30px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.875;

    &--food-truck {
      width: 138px;
    }
  }

  .contacts__town {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.857;
  }

  .contacts__text {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.643;

    &::after {
      width: 157px;
      margin-top: 30px;
    }
  }

  .contacts__days {
    font-size: 14px;
    line-height: 1.857;
  }

  .contacts__hours {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.857;
  }

  .contacts__hours--underline::after {
    width: 157px;
    margin-top: 30px;
  }

  .contacts__link {
    font-size: 14px;
    line-height: 1.857;

    &--phone {
      margin-top: 60px;
    }
  }

  .contacts__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts__button {
    margin-right: 0;
    margin-left: 0;

    &--locations {
      width: 191px;
      margin-bottom: 0;
      margin-right: 14.5px;
    }

    &--franchise {
      width: 174px;
    }

    &-icon {
      margin-left: 13.5px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    max-width: 1280px;
    height: 901px;
    background-image: linear-gradient(to top, getColor(bg-primary) 668px, getColor(primary) 233px);
  }

  .contacts__grid {
    grid-template-columns: 330px 330px 330px;
    grid-gap: 30px;
  }

  .contacts__card {
    margin-top: 132px;
    width: 330px;
    height: 572px;
    margin-bottom: 86px;
    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 43px;

    &:first-child {
      margin-top: 132px;
    }
  }

  .contacts__category {
    margin-bottom: 32px;

    &--food-truck {
      width: 138px;
    }
  }

  .contacts__town {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.875;
  }

  .contacts__text {
    margin-bottom: 64px;
    font-size: 16px;
    line-height: 1.813;

    &::after {
      width: 234px;
      margin-top: 32px;
    }
  }

  .contacts__days {
    font-size: 16px;
    line-height: 1.875;
  }

  .contacts__hours {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.875;
  }

  .contacts__hours--underline::after {
    width: 234px;
    margin-top: 32px;
  }

  .contacts__link {
    font-size: 16px;
    line-height: 1.813;

    &--phone {
      margin-top: 64px;
    }
  }

  .contacts__button {
    &--locations {
      width: 198px;
      margin-right: 15px;
    }

    &--franchise {
      width: 180px;
    }
  }
}
