.gallery {
  max-width: 1920px;
  height: 122px;
  background-image: linear-gradient(to bottom, #fff5f6, #ffffff);
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    height: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    height: 430px;
  }
}
